<div class="container">
  <div class="card">
    <h1 class="card-title">Welcome to Connectify!</h1>
    <p class="card-paragraph">
      This is your new landing page, styled with vanilla CSS.
    </p>
    <a href="#" class="button">
      Get Started
    </a>
  </div>
</div>