<div class="container">
  <h1 class="card-title">My Friends</h1>

  <% if @friends.any? %>
    <div class="friends-list">
      <% @friends.each do |friend| %>
        <div class="friend-card">
          <%= image_tag friend.avatar, alt: friend.username, class: "avatar" %>
          <%= link_to friend.username, user_path(friend), class: "username" %>
          <div class="friend-actions">
            <%= link_to "View Profile", user_path(friend), class: "button button-secondary" %>
            <%= button_to "Remove Friend", friendship_path(current_user.friendships.find_by(friend: friend) || current_user.inverse_friendships.find_by(user: friend)), method: :delete, data: { confirm: "Are you sure you want to remove #{friend.username}?" }, class: "button button-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-paragraph">You don't have any friends yet. Send some friend requests!</p>
  <% end %>
</div>